body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

/* Timer styles */
h2 {
text-align: center;
padding-top: 20px;
padding-bottom: 20px;
}

#timer-duration {
    font-weight: bold;
    font-size: 45px;
    color: black;
    position: relative;
    bottom: 200px;
    background: none;
}

#timer-text {
    color: black;
    font-size: 18px;
    position: relative;
    bottom: 200px;
}

p {
    font-size: 30px;
}

.container {
    border: 2px solid #247881;
    text-align: center;
    border-radius: 24px;
    margin: 0 auto;
    width: 300px;
    height: 500px;
    
}

.control-btns {
    margin-top: -40px;
}

.control-btns img {
    display: inline;
    margin-left: 20px;
    margin-right: 20px;
    padding: 5px 10px 5px 10px;
    cursor: pointer;
    border: none;
    border-radius: 8px;
    width: 32px;
}

input {
    text-align: center; 
    width: 200px;
    border: none;
    outline: none;
}

svg {
    margin-top: 30px;
}
